* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Open Sans", sans-serif;
}

#content {
    max-width: 800px;
    margin: auto;
}
#logo {
    display: block;
    width: 80%;
    margin: auto;
}

#startBox {
    margin: 30px auto;
}
#searchButton {
    display: block;
    padding: 12px 20px;
    margin: 10px auto;
    background-color: #c0392b;
    color: #FFF;
    font-size: 22px;
    font-family: "Open Sans", sans-serif;
    border-radius: 0;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.1s;
}
#searchButton:hover {
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
#searchButton:active {
    box-shadow: 0 0 0 rgba(0,0,0,0.3);
}
#searchButton.loading {
    color: transparent;
    background-image: url("img/tail-spin.svg");
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
}
#errorMessage {
    max-width: 500px;
    margin: auto;
    padding: 0 10px;
    text-align: center;
    color: #c0392b;
}

#resultsContain {
}
#resultsContain.hidden {
    display: none;
}

#yelpCredit {
    text-align: right;
}
#yelpLogo {
    vertical-align: text-bottom;
    height: 30px;
}

#filterHead {
    background-color: #c0392b;
    color: #FFF;
    padding: 2px 4px;
    cursor: pointer;
}
#filterSymbol {
    display: inline-block;
    transition: transform 0.2s;
}
#filters {
    height: 0;
    overflow: hidden;
    padding: 0 5px;
    transition: height 0.2s, padding 0.2s;
    background-color: #fafafa;
}
#filterContainer.open #filters {
    height: 30px;
    padding: 5px;
}
#filterContainer.open #filterSymbol {
    transform: rotate(90deg);
}

.item {
    position: relative;
    display: flex;
    flex-direction: row;
    border: solid 1px #e0e0e0;
    border-top: none; /* prevent borders from doubling up */
    padding: 10px;
}
.item:first-child {
    border-top: solid 1px #e0e0e0;
}
.item .itemImg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
}
.item .details {
    flex: 1;
}
.item .name {
    font-size: 26px;
    font-weight: bold;
}
.item .location {
    color: #333;
}
.item .stars {
    width: 120px;
    vertical-align: middle;
}
.item .reviewNumber {
    color: #666;
}
.item .goButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
}